html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: 30px;
  color: #533738;
  background-color: #efe6e4; }

a {
  text-decoration: none;
  color: #533738; }

ul {
  margin: 0;
  padding: 0;
  list-style-type: none; }

.container {
  width: 1200px;
  margin: 0 auto; }

.section-title {
  margin: 0;
  padding: 0;
  font-size: 40px;
  font-weight: 400;
  line-height: 50px;
  text-transform: uppercase; }

.btn {
  padding: 25px 65px;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  background-color: #cc8b86;
  border: none;
  outline: none; }

.btn:hover {
  background-color: #e07971; }

.main-header {
  background: url("../images/bg-header.jpg") center center/cover no-repeat;
  padding-top: 35px;
  min-height: 715px; }
  .main-header__main-nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 90px;
    font-size: 16px; }
  .main-header__inner {
    padding: 0 82px; }
  .main-header__title {
    max-width: 505px;
    margin: 0;
    margin-bottom: 25px;
    font-weight: 400;
    font-size: 50px;
    line-height: 62px; }
  .main-header__text {
    max-width: 500px;
    margin: 0;
    margin-bottom: 20px; }
  .main-header__btn {
    display: inline-block; }

.menu-list {
  display: flex;
  justify-content: space-between; }
  .menu-list__item:first-child {
    margin-right: 26px; }
  .menu-list__item + .menu-list__item {
    margin-right: 26px; }
  .menu-list__link:hover {
    border-bottom: 1px solid #533738; }

.about-us {
  padding: 65px 0 20px 0; }
  .about-us__title {
    margin-bottom: 40px;
    text-align: center; }
  .about-us__inner {
    display: flex;
    justify-content: space-between;
    padding: 0 82px; }
  .about-us__text {
    margin-left: 65px; }
  .about-us__text p {
    margin: 0 0 35px 0; }

.statistics {
  background-color: #8d7370; }
  .statistics__inner {
    display: flex;
    justify-content: space-between;
    padding: 85px 82px 80px 82px; }
  .statistics__item {
    font-size: 30px;
    line-height: 36px;
    font-weight: 500;
    color: white;
    text-transform: uppercase; }
  .statistics__item p {
    margin: 0; }
  .statistics__item p:first-child {
    text-align: center;
    font-size: 50px;
    line-height: 62px;
    font-weight: 400; }

.portfolio {
  padding: 65px 0; }
  .portfolio__title {
    margin-bottom: 40px; }
  .portfolio__inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-right: -20px; }
  .portfolio__item {
    margin-right: 20px;
    margin-bottom: 30px;
    max-height: 451px;
    position: relative; }
  .portfolio__text {
    position: absolute;
    top: 0;
    padding: 85px 35px;
    width: 100%;
    height: 100%;
    background: rgba(100, 72, 69, 0.8);
    color: white;
    display: none; }
  .portfolio__item:hover .portfolio__text {
    display: block; }
  .portfolio__item-title {
    width: 270px;
    margin: 0 auto;
    margin-bottom: 30px;
    font-weight: 500;
    font-size: 30px;
    line-height: 36px;
    text-align: center; }
  .portfolio__link {
    font-size: 30px;
    font-weight: 500;
    line-height: 36px;
    margin: 0 auto;
    position: relative; }
  .portfolio__link::after {
    content: "";
    position: absolute;
    top: 14px;
    right: -70px;
    width: 60px;
    height: 15px;
    background: url("../images/arrow-more.svg") center center no-repeat; }

.team {
  padding: 50px 0 30px 0;
  background-color: #e2c4ba; }
  .team__title {
    margin-bottom: 40px;
    text-align: center; }
  .team__inner {
    display: flex;
    justify-content: space-between;
    margin-right: -38px;
    padding: 0 82px; }
  .team__item {
    margin-right: 38px; }
  .team__item-text {
    margin: 10px 0 0 0; }

.workplan {
  padding-bottom: 80px;
  background-color: #e2c4ba; }
  .workplan__title {
    margin-bottom: 40px;
    text-align: center; }
  .workplan__list {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    margin-right: -20px;
    list-style-type: none;
    counter-reset: num; }
  .workplan__item {
    margin-right: 20px;
    padding-top: 90px;
    width: 285px;
    text-align: center;
    position: relative; }
  .workplan__item::before {
    content: counter(num);
    counter-increment: num;
    font-size: 30px;
    line-height: 60px;
    font-weight: 500;
    color: white;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #8d7370;
    position: absolute;
    top: 0;
    left: 106px;
    right: 106px; }

.reviews {
  padding: 65px 0; }
  .reviews__title {
    margin-bottom: 40px;
    text-align: center; }
  .reviews__inner {
    padding: 0 82px; }
  .reviews__slider {
    position: relative;
    width: 834px;
    margin: 0 auto; }
  .reviews .slick-prev, .reviews .slick-next {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    width: 72px;
    height: 72px;
    border-radius: 50%;
    background-color: #cc8b86;
    border: none;
    outline: none;
    font-size: 0;
    cursor: pointer; }
  .reviews .slick-prev {
    left: -72px;
    background-image: url("../images/arrow-left.svg");
    background-position: center center;
    background-repeat: no-repeat; }
  .reviews .slick-next {
    right: -102px;
    background-image: url("../images/arrow-right.svg");
    background-position: center center;
    background-repeat: no-repeat; }
  .reviews .slick-slide {
    display: flex; }
  .reviews__slide {
    display: flex;
    justify-content: space-between;
    width: 834px;
    margin: 0 auto; }
  .reviews__text {
    align-self: center; }
  .reviews__images img {
    display: block;
    margin-bottom: 25px; }

blockquote p {
  margin: 0;
  margin-bottom: 40px; }

blockquote p:last-of-type {
  margin-bottom: 20px; }

.request {
  background-color: #8d7370; }
  .request__inner {
    padding: 0 82px;
    display: flex;
    justify-content: space-between; }
  .request__form {
    min-width: 508px;
    margin-right: 20px;
    padding-top: 50px;
    display: flex;
    flex-direction: column; }
  .request__title {
    margin-bottom: 25px;
    color: white; }
  .request__form p {
    width: 465px;
    margin: 0;
    margin-bottom: 45px;
    color: white; }
  .request__form input {
    margin-bottom: 35px;
    padding: 3px;
    padding-bottom: 20px;
    background-color: #8d7370;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    font-family: "Montserrat";
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
    color: #f6ede9; }
  .request__form input:last-of-type {
    margin-bottom: 30px; }
  .request__form input::placeholder {
    color: #f6ede9; }
  .request__btn {
    width: 310px;
    cursor: pointer; }
  .request__map {
    height: 624px; }

.main-footer__inner {
  display: flex;
  justify-content: space-between;
  padding: 36px 82px; }
.main-footer__address {
  margin-left: 42px; }
